<!DOCTYPE html>
<html>
<head>
	<title>PetAdote</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
        <div class = "container">
            <div class ="col-md-12">
                <h1> Home - PetAdote </h1>
                <h1> Usuario: </h1>
                <p><%= user.nome %> </p>
	            <p><%= user.idade %>  </p>	
                <p><%= user.sexo %>  </p>
        </div>
    </div>

    <%- include('partials/footer') %>

</body>
</html>
